<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<title>{% if page.title %}{{ page.title }}{% else %}{{ config.title }}{% endif %}</title>

{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords | join(sep=', ') }}">
{% else %}
<meta name="keywords" content="{{ config.extra.papermod.keywords | join(sep=', ') }}">
{% endif %}

{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% else %}
<meta name="description" content="{{ config.description }}">
{% endif %}

{% if page.author %}
<meta name="author" content="{{ page.author }}">
{% elif config.author %}
<meta name="author" content="{{ config.author }}">
{% else %}
{% endif %}
{% if current_url %}
<link rel="canonical" href="{{ current_url }}">
{% endif %}

<link rel="stylesheet" href="{{ get_url(path='css/includes/scroll-bar.css') }}">
<link rel="stylesheet" href="{{ get_url(path='css/styles.css') }}">
<link rel="stylesheet" href="{{ get_url(path='css/override.css') }}">

{% block head_favicons %}
{# /* Favicons */}
<link rel="icon" href="{{ site.Params.assets.favicon | default "favicon.ico" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.Params.assets.favicon16x16 | default "favicon-16x16.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.Params.assets.favicon32x32 | default "favicon-32x32.png" | absURL }}">
<link rel="apple-touch-icon" href="{{ site.Params.assets.apple_touch_icon | default "apple-touch-icon.png" | absURL }}">
<link rel="mask-icon" href="{{ site.Params.assets.safari_pinned_tab | default "safari-pinned-tab.svg" | absURL }}">
<meta name="theme-color" content="{{ site.Params.assets.theme_color | default "#2e2e33" }}">
<meta name="msapplication-TileColor" content="{{ site.Params.assets.msapplication_TileColor | default "#2e2e33" }}">
#}
{% endblock %}

{% if config.generate_feeds %}
{% for feed_filename in config.feed_filenames %}
<link rel="alternate" type={% if feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=feed_filename) | safe }}">
{% endfor %}
{% endif %}

<noscript>
    <style>
        #theme-toggle,
        .top-link {
            display: none;
        }
    </style>
    {% if config.extra.papermod.default_theme != "light" and config.extra.papermod.default_theme != "dark" %}
    <style>
        @media (prefers-color-scheme: dark) {
            :root {
                --theme: rgb(29, 30, 32);
                --entry: rgb(46, 46, 51);
                --primary: rgb(218, 218, 219);
                --secondary: rgb(155, 156, 157);
                --tertiary: rgb(65, 66, 68);
                --content: rgb(196, 196, 197);
                --hljs-bg: rgb(46, 46, 51);
                --code-bg: rgb(55, 56, 62);
                --border: rgb(51, 51, 51);
            }

            .list {
                background: var(--theme);
            }

            .list:not(.dark)::-webkit-scrollbar-track {
                background: 0 0;
            }

            .list:not(.dark)::-webkit-scrollbar-thumb {
                border-color: var(--theme);
            }
        }

    </style>
    {% endif %}
</noscript>

{% block ext_head %}
    {#- /* Misc */}}
    {{- if hugo.IsProduction | or (eq site.Params.env "production") }}
    {{- template "_internal/google_analytics.html" . }}
    {{- template "partials/templates/opengraph.html" . }}
    {{- template "partials/templates/twitter_cards.html" . }}
    {{- template "partials/templates/schema_json.html" . }}
    {{- end -#}
{% endblock %}
