{% set posts = get_section(path="posts/_index.md") %}
{% for page in posts.pages | slice(end=10) %}
<article class="post-entry">
  <header class="entry-header">
      <h2>{{ page.title }}</h2>
  </header>
  {% if page.summary %}
  <div class="entry-content">
      <p>{{ page.summary |safe }}</p>
  </div>
  {% endif %}
  <footer class="entry-footer">
      {% include "partials/post_meta.html" %}
  </footer>
  <a class="entry-link" aria-label="post link to {{ page.title }}" href="{{ page.permalink }}"></a>
</article>
{% endfor %}

{% if posts.pages | length > 5 %}
<footer class="page-footer">
    <nav class="pagination">
        <a class="next" href="#todo">Next »</a>
    </nav>
</footer>
{% endif %}
