<header class="page-header">
    {% if page.title %}
    <h1>{{ page.title | safe }}
        <svg 
            xmlns="http://www.w3.org/2000/svg" 
            width="28" 
            height="28" 
            viewBox="0 0 24 24" 
            fill="none"
            stroke="currentColor" 
            stroke-width="2" 
            stroke-linecap="round" 
            stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
    </h1>
    {% endif %}
    {% if page.description %}
    <div class="post-description">
        {{ page.description | safe }}
    </div>
    {% endif %}
    <div id="searchbox">
        <input id="searchInput" 
               autofocus="" 
               placeholder="Search locally ↵" 
               aria-label="search" 
               type="search" 
               autocomplete="off">
        <ul id="searchResults" aria-label="search results"></ul>
    </div>
</header>