.post-content pre,
.post-content code,
.post-content pre code,
.post-content code table,
.post-content pre table,
.post-content table tr,
.post-content table th,
.post-content table td {
    width: 100%;
    border: 0;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

.post-content pre,
.post-content pre code {
    border-radius: 8px;
}


.post-content pre {
    width: 100%;
    overflow-x: auto;
    word-break: break-all;
    margin: 0;
    padding: 0;
}

.post-content pre > code {
    margin: 0;
    padding: 15px;
    display: block;
    overflow-x: auto;
    word-break: break-all;
}

.post-content pre code > table {
    overflow-x: auto;
    word-break: break-all;
}


.post-content pre table td:nth-of-type(1) {
    text-align: right;
    user-select: none;
    white-space: nowrap;
    padding: 0 26px 0 0px;
}
